.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.Rproj

# 'data' folder #
data/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]
*.[zZ][sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# MacOS folder attributes files #
.DS_Store

*.html

# Ignore app deployment
AppDeployment.R
b6_app/rsconnect